body {
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:whitesmoke;
    margin-top: 50px;
    font-size: 45px;
}
h2{
    color:gold;
    margin-left: 50px;
    text-decoration: underline;
}
